.todo {
    &__submit-button {
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #16C47F;
        color: white;
    }

    &__delete-button {
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #F93827;
        color: white;
    }
}