@import './_buttons.scss';

body {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #FFF2AF;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    /* Prevents content from touching edges on small screens */
}


h1{
    font-size: 35px;
    color: #333;
}


.fact-container {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
    /* Space between the fact and the todo list */

    /* New styling */
    background-color: #fff;
    border-left: 6px solid #ff9800;
    border-radius: 8px;
    font-style: italic;
    color: #333;
}

/* Todo List Styling */
.todo {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid grey;
    width: 400px;
    padding: 20px;
    text-align: center;
    /* Centers text inside */
}


.todo {
    &__header {
        text-align: center;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 20px;
        color: #333;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__form {
        display: flex;
        margin-bottom: 20px;
    }

    &__input {
        flex-grow: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    &__checkbox {
        margin-right: 10px;
    
    }

    &__task {
        flex-grow: 1;
        font-size: 18px;
    }
}